In [167]:
import pandas as pd

In [169]:
dataset = pd.read_csv('step2',low_memory = False)

In [170]:
dataset.head()

,Unnamed: 0,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Revenue
0,0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.4
1,1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
2,2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
3,3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.8
4,4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.0

In [171]:
del dataset['Unnamed: 0']

In [172]:
dataset.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Revenue
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.0

In [174]:
 dataset.dropna(subset=['Customer ID'])

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Revenue
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.40
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.80
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.00
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085.0,United Kingdom,39.60
6,489434,21871,SAVE THE PLANET MUG,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.00
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,2009-12-01 07:45:00,5.95,13085.0,United Kingdom,59.50
8,489435,22350,CAT BOWL,12,2009-12-01 07:46:00,2.55,13085.0,United Kingdom,30.60
9,489435,22349,"DOG BOWL , CHASING BALL DESIGN",12,2009-12-01 07:46:00,3.75,13085.0,United Kingdom,45.00
10,489435,22195,HEART MEASURING SPOONS LARGE,24,2009-12-01 07:46:00,1.65,13085.0,United Kingdom,39.60
11,489435,22353,LUNCHBOX WITH CUTLERY FAIRY CAKES,12,2009-12-01 07:46:00,2.55,13085.0,United Kingdom,30.60
12,489436,48173C,DOOR MAT BLACK FLOCK,10,2009-12-01 09:06:00,5.95,13078.0,United Kingdom,59.50
13,489436,21755,LOVE BUILDING BLOCK WORD,18,2009-12-01 09:06:00,5.45,13078.0,United Kingdom,98.10
14,489436,21754,HOME BUILDING BLOCK WORD,3,2009-12-01 09:06:00,5.95,13078.0,United Kingdom,17.85
15,489436,84879,ASSORTED COLOUR BIRD ORNAMENT,16,2009-12-01 09:06:00,1.69,13078.0,United Kingdom,27.04
16,489436,22119,PEACE WOODEN BLOCK LETTERS,3,2009-12-01 09:06:00,6.95,13078.0,United Kingdom,20.85
17,489436,22142,CHRISTMAS CRAFT WHITE FAIRY,12,2009-12-01 09:06:00,1.45,13078.0,United Kingdom,17.40
18,489436,22296,HEART IVORY TRELLIS LARGE,12,2009-12-01 09:06:00,1.65,13078.0,United Kingdom,19.80
19,489436,22295,HEART FILIGREE DOVE LARGE,12,2009-12-01 09:06:00,1.65,13078.0,United Kingdom,19.80
20,489436,22109,FULL ENGLISH BREAKFAST PLATE,16,2009-12-01 09:06:00,3.39,13078.0,United Kingdom,54.24
21,489436,22107,PIZZA PLATE IN BOX,4,2009-12-01 09:06:00,3.75,13078.0,United Kingdom,15.00
22,489436,22194,BLACK DINER WALL CLOCK,2,2009-12-01 09:06:00,8.50,13078.0,United Kingdom,17.00
23,489436,35004B,SET OF 3 BLACK FLYING DUCKS,12,2009-12-01 09:06:00,4.65,13078.0,United Kingdom,55.80
24,489436,82582,AREA PATROLLED METAL SIGN,12,2009-12-01 09:06:00,2.10,13078.0,United Kingdom,25.20
25,489436,21181,PLEASE ONE PERSON METAL SIGN,12,2009-12-01 09:06:00,2.10,13078.0,United Kingdom,25.20
26,489436,21756,BATH BUILDING BLOCK WORD,3,2009-12-01 09:06:00,5.95,13078.0,United Kingdom,17.85
27,489436,21333,CLASSIC WHITE FRAME,6,2009-12-01 09:06:00,2.95,13078.0,United Kingdom,17.70
28,489436,84596F,SMALL MARSHMALLOWS PINK BOWL,8,2009-12-01 09:06:00,1.25,13078.0,United Kingdom,10.00
29,489436,84596L,BISCUITS SMALL BOWL LIGHT BLUE,8,2009-12-01 09:06:00,1.25,13078.0,United Kingdom,10.00
...,...,...,...,...,...,...,...,...,...
1022071,581585,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom,15.00
1022072,581585,16016,LARGE CHINESE STYLE SCISSOR,10,2011-12-09 12:31:00,0.85,15804.0,United Kingdom,8.50
1022073,581585,21916,SET 12 RETRO WHITE CHALK STICKS,24,2011-12-09 12:31:00,0.42,15804.0,United Kingdom,10.08
1022074,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25,2011-12-09 12:31:00,0.42,15804.0,United Kingdom,10.50
1022075,581585,84946,ANTIQUE SILVER T-LIGHT GLASS,12,2011-12-09 12:31:00,1.25,15804.0,United Kingdom,15.00
1022076,581585,21684,SMALL MEDINA STAMPED METAL BOWL,12,2011-12-09 12:31:00,0.85,15804.0,United Kingdom,10.20
1022077,581585,22398,MAGNETS PACK OF 4 SWALLOWS,12,2011-12-09 12:31:00,0.39,15804.0,United Kingdom,4.68
1022078,581585,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom,15.00
1022079,581585,23145,ZINC T-LIGHT HOLDER STAR LARGE,12,2011-12-09 12:31:00,0.95,15804.0,United Kingdom,11.40
1022080,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-12-09 12:31:00,1.95,15804.0,United Kingdom,23.40
1022081,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,13113.0,United Kingdom,23.60
1022082,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113.0,United Kingdom,30.00
1022083,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113.0,United Kingdom,214.80
1022084,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113.0,United Kingdom,70.80
1022085,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France,23.40
1022086,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680.0,France,19.80
1022087,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680.0,France,19.80
1022088,581587,22728,ALARM CLOCK BAKELIKE PINK,4,2011-12-09 12:50:00,3.75,12680.0,France,15.00
1022089,581587,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:50:00,3.75,12680.0,France,15.00
1022090,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,2011-12-09 12:50:00,3.75,12680.0,France,15.00
1022091,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680.0,France,15.00
1022092,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,2011-12-09 12:50:00,1.95,12680.0,France,15.60
1022093,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France,23.40
1022094,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
1022095,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20
1022096,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
1022097,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
1022098,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
1022099,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85
1022100,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,18.00

In [176]:
dataset['Customer ID'] = dataset['Customer ID'].astype(str)

In [177]:
dataset.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Revenue
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.8
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.0

In [179]:
dataset['InvoiceDate'] = pd.to_datetime(dataset['InvoiceDate'])

In [180]:
dataset.dtypes

Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID            object
Country                object
Revenue               float64
dtype: object

In [182]:
today = pd.datetime(2012,1,1)

In [184]:
days_since_today = today-dataset.InvoiceDate

In [185]:
dataset['days_since_today'] = days_since_today

In [186]:
dataset['days_since_today'] = days_since_today.dt.components.days

In [187]:
dataset.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Revenue,days_since_today
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.4,760
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0,760
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0,760
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.8,760
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.0,760

In [189]:
days_since_purchased = dataset.groupby('Customer ID').agg({'days_since_today': ['min']})

In [190]:
days_since_purchased.drop('nan')

            days_since_today
                         min
Customer ID
12346.0                  347
12347.0                   24
12348.0                   97
12349.0                   40
12350.0                  332
12351.0                  397
12352.0                   58
12353.0                  226
12354.0                  254
12355.0                  236
12356.0                   44
12357.0                   55
12358.0                   23
12359.0                   79
12360.0                   74
12361.0                  309
12362.0                   25
12363.0                  131
12364.0                   29
12365.0                  313
12366.0                  655
12367.0                   26
12368.0                  650
12369.0                  435
12370.0                   73
12371.0                   66
12372.0                   93
12373.0                  333
12374.0                   47
12375.0                   32
...                      ...
18258.0                  486
18259.0                   46
18260.0                  194
18261.0                   65
18262.0                  162
18263.0                   47
18264.0                  520
18265.0                   94
18266.0                  456
18267.0                  694
18268.0                  156
18269.0                  388
18270.0                   60
18271.0                  631
18272.0                   24
18273.0                   24
18274.0                   52
18275.0                  600
18276.0                   65
18277.0                   80
18278.0                   95
18279.0                  541
18280.0                  299
18281.0                  202
18282.0                   29
18283.0                   25
18284.0                  453
18285.0                  682
18286.0                  498
18287.0                   64

[5873 rows x 1 columns]

In [206]:
Recency = days_since_purchased
Recency

            days_since_today
                         min
Customer ID
12346.0                  347
12347.0                   24
12348.0                   97
12349.0                   40
12350.0                  332
12351.0                  397
12352.0                   58
12353.0                  226
12354.0                  254
12355.0                  236
12356.0                   44
12357.0                   55
12358.0                   23
12359.0                   79
12360.0                   74
12361.0                  309
12362.0                   25
12363.0                  131
12364.0                   29
12365.0                  313
12366.0                  655
12367.0                   26
12368.0                  650
12369.0                  435
12370.0                   73
12371.0                   66
12372.0                   93
12373.0                  333
12374.0                   47
12375.0                   32
...                      ...
18259.0                   46
18260.0                  194
18261.0                   65
18262.0                  162
18263.0                   47
18264.0                  520
18265.0                   94
18266.0                  456
18267.0                  694
18268.0                  156
18269.0                  388
18270.0                   60
18271.0                  631
18272.0                   24
18273.0                   24
18274.0                   52
18275.0                  600
18276.0                   65
18277.0                   80
18278.0                   95
18279.0                  541
18280.0                  299
18281.0                  202
18282.0                   29
18283.0                   25
18284.0                  453
18285.0                  682
18286.0                  498
18287.0                   64
nan                       22

[5874 rows x 1 columns]

In [195]:
Frequency = dataset.drop_duplicates(subset = "Invoice")['Customer ID'].value_counts()

In [226]:
Frequency = Frequency.to_frame()

In [228]:
Frequency = Frequency.iloc[1:]
Frequency

         Customer ID
14911.0          397
12748.0          335
17841.0          211
15311.0          206
13089.0          201
14606.0          192
14156.0          155
17850.0          154
14646.0          151
18102.0          145
13694.0          140
15061.0          124
14527.0          122
12971.0          116
17949.0          115
16422.0          108
16029.0          107
13798.0          107
13408.0          105
17961.0           98
15039.0           92
16013.0           84
14298.0           82
12471.0           78
17377.0           77
12921.0           73
13468.0           72
13767.0           71
17675.0           70
17243.0           69
...              ...
18207.0            1
12799.0            1
17318.0            1
12555.0            1
14582.0            1
12534.0            1
15066.0            1
13337.0            1
16262.0            1
17925.0            1
17087.0            1
12659.0            1
14328.0            1
14041.0            1
16857.0            1
17902.0            1
13532.0            1
17568.0            1
15072.0            1
14158.0            1
12460.0            1
16971.0            1
17815.0            1
17820.0            1
15941.0            1
14458.0            1
16673.0            1
12368.0            1
16260.0            1
15499.0            1

[5873 rows x 1 columns]

In [202]:
Monetary = dataset.groupby('Customer ID').agg({'Revenue': ['sum']})

In [203]:
Monetary

                  Revenue
                      sum
Customer ID
12346.0      7.755646e+04
12347.0      5.335800e+03
12348.0      1.979400e+03
12349.0      4.380810e+03
12350.0      1.966000e+02
12351.0      3.009300e+02
12352.0      2.849840e+03
12353.0      4.067600e+02
12354.0      1.026300e+03
12355.0      8.618100e+02
12356.0      6.373680e+03
12357.0      1.828766e+04
12358.0      3.653570e+03
12359.0      8.831240e+03
12360.0      4.193490e+03
12361.0      5.112500e+02
12362.0      5.168230e+03
12363.0      5.097000e+02
12364.0      1.313100e+03
12365.0      6.413800e+02
12366.0      5.002400e+02
12367.0      1.689000e+02
12368.0      9.177000e+02
12369.0      1.791150e+03
12370.0      4.310110e+03
12371.0      4.049680e+03
12372.0      1.221640e+03
12373.0      1.127650e+03
12374.0      2.881820e+03
12375.0      4.575000e+02
...                   ...
18259.0      3.889200e+03
18260.0      9.892690e+03
18261.0      3.242400e+02
18262.0      5.775400e+02
18263.0      1.213160e+03
18264.0      6.032500e+02
18265.0      8.015100e+02
18266.0      2.511000e+02
18267.0      2.693700e+02
18268.0      1.490230e+03
18269.0      3.372000e+02
18270.0      4.445500e+02
18271.0      6.808500e+02
18272.0      4.291380e+03
18273.0      3.570000e+02
18274.0      1.759200e+02
18275.0      7.418500e+02
18276.0      1.534470e+03
18277.0      1.180050e+03
18278.0      4.142000e+02
18279.0      2.313400e+02
18280.0      4.881500e+02
18281.0      2.011400e+02
18282.0      1.574900e+02
18283.0      2.682630e+03
18284.0      4.616800e+02
18285.0      4.270000e+02
18286.0      1.296430e+03
18287.0      4.182990e+03
nan          3.171531e+06

[5874 rows x 1 columns]

In [229]:
Monetary.drop('nan')

              Revenue
                  sum
Customer ID
12346.0      77556.46
12347.0       5335.80
12348.0       1979.40
12349.0       4380.81
12350.0        196.60
12351.0        300.93
12352.0       2849.84
12353.0        406.76
12354.0       1026.30
12355.0        861.81
12356.0       6373.68
12357.0      18287.66
12358.0       3653.57
12359.0       8831.24
12360.0       4193.49
12361.0        511.25
12362.0       5168.23
12363.0        509.70
12364.0       1313.10
12365.0        641.38
12366.0        500.24
12367.0        168.90
12368.0        917.70
12369.0       1791.15
12370.0       4310.11
12371.0       4049.68
12372.0       1221.64
12373.0       1127.65
12374.0       2881.82
12375.0        457.50
...               ...
18258.0       2019.35
18259.0       3889.20
18260.0       9892.69
18261.0        324.24
18262.0        577.54
18263.0       1213.16
18264.0        603.25
18265.0        801.51
18266.0        251.10
18267.0        269.37
18268.0       1490.23
18269.0        337.20
18270.0        444.55
18271.0        680.85
18272.0       4291.38
18273.0        357.00
18274.0        175.92
18275.0        741.85
18276.0       1534.47
18277.0       1180.05
18278.0        414.20
18279.0        231.34
18280.0        488.15
18281.0        201.14
18282.0        157.49
18283.0       2682.63
18284.0        461.68
18285.0        427.00
18286.0       1296.43
18287.0       4182.99

[5873 rows x 1 columns]

In [220]:
Recency.drop('nan')

            days_since_today
                         min
Customer ID
12346.0                  347
12347.0                   24
12348.0                   97
12349.0                   40
12350.0                  332
12351.0                  397
12352.0                   58
12353.0                  226
12354.0                  254
12355.0                  236
12356.0                   44
12357.0                   55
12358.0                   23
12359.0                   79
12360.0                   74
12361.0                  309
12362.0                   25
12363.0                  131
12364.0                   29
12365.0                  313
12366.0                  655
12367.0                   26
12368.0                  650
12369.0                  435
12370.0                   73
12371.0                   66
12372.0                   93
12373.0                  333
12374.0                   47
12375.0                   32
...                      ...
18258.0                  486
18259.0                   46
18260.0                  194
18261.0                   65
18262.0                  162
18263.0                   47
18264.0                  520
18265.0                   94
18266.0                  456
18267.0                  694
18268.0                  156
18269.0                  388
18270.0                   60
18271.0                  631
18272.0                   24
18273.0                   24
18274.0                   52
18275.0                  600
18276.0                   65
18277.0                   80
18278.0                   95
18279.0                  541
18280.0                  299
18281.0                  202
18282.0                   29
18283.0                   25
18284.0                  453
18285.0                  682
18286.0                  498
18287.0                   64

[5873 rows x 1 columns]